<a href="https://colab.research.google.com/github/RiteshopShrivastava/Gold-Price-forecasting/blob/main/Gold_Prices_FbProphet_v1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 10.4 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [3]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import date
import plotly.express as px
import matplotlib.pyplot as plt
from fbprophet import Prophet
from sklearn.metrics import mean_squared_error

In [4]:
start='2018-01-01'
end=date.today().strftime('%Y-%m-%d')
data=yf.download('GC=F',start=start,end=end)[['Adj Close']]

[*********************100%***********************]  1 of 1 completed

In [5]:
data.tail()

              Adj Close
Date
2021-12-21  1787.900024
2021-12-22  1801.599976
2021-12-23  1811.199951
2021-12-27  1808.099976
2021-12-28  1810.199951

In [6]:
training_size=data.shape[0]-30
training= data[:training_size]
test=data[training_size:]

In [14]:
m=Prophet()

In [8]:
training.reset_index(inplace=True)

In [9]:
training.dtypes

Date         datetime64[ns]
Adj Close           float64
dtype: object

In [10]:
training.columns=['ds','y']

In [12]:
training

            ds            y
0   2018-01-02  1313.699951
1   2018-01-03  1316.199951
2   2018-01-04  1319.400024
3   2018-01-05  1320.300049
4   2018-01-08  1318.599976
..         ...          ...
970 2021-11-09  1830.199951
971 2021-11-10  1847.599976
972 2021-11-11  1863.199951
973 2021-11-12  1867.900024
974 2021-11-15  1866.099976

[975 rows x 2 columns]

In [15]:
m.fit(training)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

### **Model Validation**

In [16]:
future_prices=m.make_future_dataframe(periods=30)

In [17]:
pred=m.predict(future_prices)

In [18]:
pred[['ds','yhat','yhat_lower','yhat_upper']].tail()

             ds         yhat   yhat_lower   yhat_upper
1000 2021-12-11  1752.456412  1714.426551  1795.372902
1001 2021-12-12  1754.970249  1713.288216  1796.127930
1002 2021-12-13  1759.996469  1718.918114  1797.334788
1003 2021-12-14  1762.554891  1722.350895  1808.190004
1004 2021-12-15  1765.258187  1724.477821  1808.349768

In [19]:
prediction_data=pred[['ds','yhat']]
pred=prediction_data[prediction_data.shape[0]-30:]

In [24]:
pred

             ds         yhat
975  2021-11-16  1768.279498
976  2021-11-17  1765.917977
977  2021-11-18  1764.054862
978  2021-11-19  1760.873394
979  2021-11-20  1757.322446
980  2021-11-21  1755.137943
981  2021-11-22  1755.368946
982  2021-11-23  1753.094267
983  2021-11-24  1750.987500
984  2021-11-25  1749.555548
985  2021-11-26  1746.987050
986  2021-11-27  1744.233307
987  2021-11-28  1743.029465
988  2021-11-29  1744.420413
989  2021-11-30  1743.477299
990  2021-12-01  1742.862561
991  2021-12-02  1743.068518
992  2021-12-03  1742.265969
993  2021-12-04  1741.385379
994  2021-12-05  1742.138381
995  2021-12-06  1745.544102
996  2021-12-07  1746.646148
997  2021-12-08  1748.078163
998  2021-12-09  1750.303002
999  2021-12-10  1751.461929
1000 2021-12-11  1752.456412
1001 2021-12-12  1754.970249
1002 2021-12-13  1759.996469
1003 2021-12-14  1762.554891
1004 2021-12-15  1765.258187

In [22]:
y_pred=pred['yhat'].values
y_test=test['Adj Close'].values

In [23]:
y_pred

array([1768.27949763, 1765.91797694, 1764.0548617 , 1760.87339435,
       1757.32244637, 1755.13794287, 1755.36894637, 1753.09426654,
       1750.98750024, 1749.55554842, 1746.98704955, 1744.23330729,
       1743.0294651 , 1744.42041279, 1743.47729932, 1742.86256147,
       1743.06851805, 1742.26596948, 1741.38537865, 1742.13838107,
       1745.54410226, 1746.64614754, 1748.0781626 , 1750.30300161,
       1751.46192853, 1752.45641234, 1754.97024855, 1759.9964692 ,
       1762.55489119, 1765.25818669])

In [21]:
rmse=np.round(np.sqrt(mean_squared_error(y_test,y_pred)),2)

In [ ]:
print('RMSE of the data is : {}'.format(rmse))

RMSE of the data is : 49.75

### **Forecasting for next 30 days**

In [84]:
import datetime
from datetime import date, timedelta, datetime
from pandas import DataFrame
from pandas import to_datetime
future = list()
date= datetime.now()
for i in range(0, 30):
  date= date+ timedelta(days=1)
  future.append([date])
future = DataFrame(future)
future.columns = ['ds']
future['ds'] = to_datetime(future['ds'])

In [85]:
forecast = m.predict(future)

In [86]:
forecast[['ds','yhat']]

                           ds         yhat
0  2021-12-30 20:35:35.468086  1799.069167
1  2021-12-31 20:35:35.468086  1798.332358
2  2022-01-01 20:35:35.468086  1798.275013
3  2022-01-02 20:35:35.468086  1800.777564
4  2022-01-03 20:35:35.468086  1800.970335
5  2022-01-04 20:35:35.468086  1800.389129
6  2022-01-05 20:35:35.468086  1800.622004
7  2022-01-06 20:35:35.468086  1799.398103
8  2022-01-07 20:35:35.468086  1797.631974
9  2022-01-08 20:35:35.468086  1796.668633
10 2022-01-09 20:35:35.468086  1798.392506
11 2022-01-10 20:35:35.468086  1797.934786
12 2022-01-11 20:35:35.468086  1796.829192
13 2022-01-12 20:35:35.468086  1796.658988
14 2022-01-13 20:35:35.468086  1795.146106
15 2022-01-14 20:35:35.468086  1793.195832
16 2022-01-15 20:35:35.468086  1792.142250
17 2022-01-16 20:35:35.468086  1793.857607
18 2022-01-17 20:35:35.468086  1793.460099
19 2022-01-18 20:35:35.468086  1792.470058
20 2022-01-19 20:35:35.468086  1792.457382
21 2022-01-20 20:35:35.468086  1791.131052
22 2022-01-21 20:35:35.468086  1789.384158
23 2022-01-22 20:35:35.468086  1788.539653
24 2022-01-23 20:35:35.468086  1790.459956
25 2022-01-24 20:35:35.468086  1790.254930
26 2022-01-25 20:35:35.468086  1789.438180
27 2022-01-26 20:35:35.468086  1789.574542
28 2022-01-27 20:35:35.468086  1788.369583
29 2022-01-28 20:35:35.468086  1786.714552